<odoo>
  <menuitem id="menu_productes_esdeveniment_root" name="Productes Esdeveniment" sequence="100"/>


  <menuitem id="menu_assign_event_category"
            name="Assignar categoria a productes"
            parent="menu_productes_esdeveniment_root"
            action="action_assign_event_category_wizard"
            sequence="10"/>
</odoo>
